{% extends 'base.html.twig' %}

{% block title %} épisode {% endblock %}

{% block body %}
    <article>
        <h1> Série: {{ program.title }}</h1>
        <p>Saison numéro {{ season.number }}</p>
        <h2>{{ episode.title }}</h2>
        <p>épisode numéro: {{ episode.number }}</p>
        <p>Synopsis: {{ episode.synopsis }}</p>
    </article>

{% endblock %}