{% extends 'base.html.twig' %}

{% block title %} saison {% endblock %}

{% block body %}
    <article>
      <h1>Saison numéro {{ season.number}}</h1>
        <p>année: {{ season.year }}</p>
        <p>{{ season.description }}</p>
        {% for episode in episodes %}
            <a href="{{ path('program_episode_show',{program:program.id, season:season.id, episode:episode.id}) }}">{{ episode.number }}</a>
        {% endfor %}
    </article>

{% endblock %}