{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <article>
        <img src="{{ program.poster }}" alt="{{ program.title }}">
        <h1>{{ program.title }}</h1>
        <p>Catégorie : {{ program.category.name }}</p>
        <p>{{ program.synopsis }}</p>
        {% for season in program.seasons %}
        <a href="{{ path("program_season_show", {program:program.id, season:season.id} )}}">{{ season.number }}</a>
        {% endfor %}
    </article>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}